@model Vidly.Models.Customers
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-­bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Id</th>
    </tr>



    <tr>
        <td>@Model.name</td>
        <td>@Model.id</td>


    </tr>


</table>

